<mat-card>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Bio</mat-label>
      <textarea matInput formControlName="bio"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Skills</mat-label>
      <input matInput formControlName="skills">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</mat-card>
